- @categories.each do |category|
  - if category.videos.count > 0
    %article.video_category
      %header
        %h3
          = category.title
        .videos.row
          -category.recent_videos.each do |video|
            .video.span2
              = link_to video_path(video) do
                %img(src="#{video.small_cover_url}")
