= form_tag search_videos_path, method: :post, class: "span5 for-search", id: "header-search-bar" do
  %input{name: "title", style: "border-radius:15px", type: "text"}
  %input{class: "btn header-rounded", type: "submit", value: "search"}
