!!! 5
%html
  %body
    %p
      Hey
      = @user.full_name + "!"
    %p
      To reset your password, follow
      = link_to "this link", reset_password_url(password_reset_token: @user.password_reset_token)
    %p
      \-MyFlix
