!!! 5
%html
  %body
    %p
      Hey
      = @user.full_name + "!"
    %p
      Welcome to MyFlix.  We're way better than Netflix.  Netflix hosts thousands of bad movies.  We host not a single bad movie.  Technically we offer no movies, but please overlook that detail.
    %p
      \-MyFlix
